body {
    background-color: blue;
}

h1 {
    color: white;
}

.center {
    text-align: center;
}

.fonte-branco {
    color: white;
}
p {
    color: white;
    text-align: center;
  }
  
  #para {
  font-family: verdana;
  font-size:20px;
  }